/*
Creator: Francois Gouws
Date created: 7 Dec 2020
Date last modified: 7 Dec 2020
*/

body {
    background-color: #f7fff7;
    font-family: arial, helvetica, sans-serif;
    color: #001524;
    max-width: 900px;
    margin: 0 auto;
}

header, footer {
	background-color: #084c61;
	color: #edf2f4;
	text-align: center;
	padding: 30px 10px 20px 10px;
	height: 100px;

}
footer {
	font-size: 1.3em;
	font-style: italic;
}

h1 {
    font-size: 2.5em;
    margin-top: 4px;
}

h2 { font-style: italic;

}

nav {
    
    border-bottom: 3px dashed #546a7b;
    margin-top: 4px;
}

a{
	color: #ef233c;
}

a:link {
  color: #ff9f1c;
}

/* visited link */
a:visited {
  color: #e4c3ad;
}

/* mouse over link */
a:hover {
	background-color: #fef9ff;
  	color: #bc4749;
}

/* selected link */
a:active {
  color: #d90429;
  font-weight: bold;
}

article img {
   float:left;
}

.clear-float {
    clear:both;
}

.right-content {
    float:left;
}

article {
    margin-bottom: 16px;
}

nav a {
    background-color: #5b7d87;
    color: #fef9ff;
    padding: 8px;
    border: thin solid #0d1f2d;
    text-decoration: none;
    text-align: center;
    display: block;
	margin: 20px;
	width: 100px;
	float: left;
}